<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>735773461C9A4ED50000CD54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7357735F1C9A4ED60000CD54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7357736A1C9A4ED60000CD54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
